$base-color: #27729B;

$line-height: 22px;
$font-size: 16px;
$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

$body-width: 1024px;
$min-body-height: 350px;
$min-body-height-mobile: 505px;

$body-breakpoint: 1044px;
$header-breakpoint: 610px;
$form-breakpoint: 560px;

@mixin appearance($appearance) {
    -webkit-appearance: $appearance;
    appearance: $appearance;
}

@mixin box-shadow($boxshadow) {
    -webkit-box-shadow: $boxshadow;
    -moz-box-shadow: $boxshadow;
    -o-box-shadow: $boxshadow;
    -ms-box-shadow: $boxshadow;
    box-shadow: $boxshadow;
}

@mixin box-shadows($boxshadow1, $boxshadow2) {
    -webkit-box-shadow: $boxshadow1, $boxshadow2;
    -moz-box-shadow: $boxshadow1, $boxshadow2;
    -o-box-shadow: $boxshadow1, $boxshadow2;
    -ms-box-shadow: $boxshadow1, $boxshadow2;
    box-shadow: $boxshadow1, $boxshadow2;
}

html {
    font-size: $font-size;
    font-family: $font-family;
    line-height: $line-height;
    background-color: white;
}

body {
    max-width: $body-width;
    margin: 0 auto;
}

section {
    margin: ($line-height * 2) auto ($line-height);
    
    background-color: $base-color;
    color: white;
    border-radius: $line-height / 2;

    max-width: 100%;
    min-height: $min-body-height;

    position: relative;

    @media (max-width: $body-breakpoint) {
        margin-left: $line-height;
        margin-right: $line-height;
    }

    @media (max-width: $form-breakpoint) {
        min-height: $min-body-height-mobile;
    }

    header {
        border-bottom: $line-height / 8 solid white;
        margin-bottom: $line-height * 2;
        
        h1 {
            display: inline-block;
            font-size: $font-size * 2.8;
            line-height: $line-height * 2.8;
            font-weight: lighter;

            margin-top: $line-height * 2;
            margin-right: $line-height / 2;
            margin-bottom: 0;
            margin-left: $line-height;
        }

        h3 {
            display: inline-block;
            font-size: $font-size * 1.2;
            line-height: $line-height * 1.2;
            font-weight: lighter;

            margin: 0;
        }

        @media (max-width: $header-breakpoint) {
            h1 {
                font-size: $font-size * 2;
                line-height: $line-height * 2;
            }

            h3 {
                font-size: $font-size;
                line-height: $line-height;
            }
        }

        @media (max-width: $form-breakpoint) {
            h3 {
                display: block;
                margin-bottom: $line-height / 4;
                margin-left: $line-height;
            }
        }
    }

    .container {
        #input-form {
            margin: $line-height;

            input[type=text] {
                min-width: $line-height * 10;
                min-height: $line-height;

                @include appearance(none);
                @include box-shadows(inset 0 0 1px rgba(0,0,0,0.9), 0 0 3px rgba(255,255,255,0.8));

                border: 0 none;
                border-radius: $line-height / 4;
                line-height: $line-height / 2;
                padding: $line-height / 4;

            }

            input[type=submit], input[type=button] {
                min-width: $line-height * 5;
                min-height: $line-height * 1.5;

                @include appearance(none);
                @include box-shadow(2px 2px 1px rgba(255,255,255,0.35));

                border: $line-height/8 solid white;
                border-radius: $line-height / 4;
                background-color: transparent;
                color: white;

                font-size: $font-size;
                line-height: $line-height;
                font-weight: 300;
                font-family: $font-family;

                &:hover {
                    background-color: rgba(255,255,255,0.95);
                    color: $base-color;
                }
            }

            @media (max-width: $form-breakpoint) {
                text-align: center;

                input[type=text] {
                    display: block;
                    margin: 0 auto $line-height * 0.75;
                }
            }

        }

        #output-form {
            margin: $line-height;
            padding: $line-height / 4;
            min-height: $line-height * 5;

            @media (max-width: $form-breakpoint) {
                min-height: $line-height * 7;
            }

            background-color: rgba(0,0,0,0.15);
            border-radius: $line-height / 2;
            
            .success {
                > p {
                    font-weight: 300;
                    margin: $line-height / 4 0;
                    padding: 0 $line-height / 4;
                }

                ul {
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    text-align: center;
                }

                li { 
                    display: inline-block;
                    
                    p { 
                        margin: $line-height / 4;

                        span {
                            padding: $line-height / 4;
                            margin-bottom: $line-height / 8;

                            height: 30px;
                            width: 30px;
                            line-height: 30px;
                            text-align: center;

                            border: 1px solid white;
                            border-radius: $line-height * 1.2;
                            background-color: transparent;
                            color: white;
                            display: block;

                        }
                    }
                }
            }

            .error {
                > p {
                    font-weight: 300;
                    margin: $line-height / 4 0;
                    padding: 0 $line-height / 4;
                }
            }
        }
    }

    footer {
        position: absolute;
        right: $line-height / 2;
        bottom: $line-height / 4;

        span {
            font-size: $font-size * 0.7;
            line-height: $line-height * 0.7;
            font-weight: lighter;
        }

    }
}